*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Background: #FFFFF0;
    --CorPrincipal: #000000;
    --CorSecundaria: #EF5A23;
    --FontPrincial: 'Two Weekends Sans';
    --FontSecundaria: 'Aron';
}
@font-face {
    font-family: 'Two Weekends Sans';
    src: url('../../fonts/twoweekendssans-regular.woff') format('woff');
}
@font-face {
    font-family: 'Aron';
    src: url('../../fonts/Aron-ExtraBold-BF6556dd3e2d89f.woff') format('woff');
}

body{
    overflow-x: hidden;
    background-color: var(--Background);
}

/*HEADER*/
header{
    margin: 10px auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--FontSecundaria);
}
header img{
    width: 150px;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--CorPrincipal);
    padding: 0px 10px 10px 0px;
    position: relative;
    font-size: 15px;
}
header nav ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: var(--CorSecundaria);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header nav ul li a:hover::after{
    width: 100%;
}

/*HOME*/
#home{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 50px;
}
#home .container{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
#home h1{
    font-family: var(--FontPrincial);
    color: var(--CorPrincipal);
    font-size: 48px;
    margin-bottom: 10px;
}
#home p{
    font-family: var(--FontSecundaria);
    color: var(--CorPrincipal);
    font-size: 16px;
    width: 450px;
    margin-bottom: 15px;
}
#home .container-esq{
    width: 720px;
    margin-top: 100px;
}
#home button{
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: var(--CorSecundaria);
    color: white;
    cursor: pointer;
    font-family: var(--FontSecundaria);
    transition: 0.4s ease-in-out;
}
#home button:hover{
    box-shadow: 0 10px 15px -3px #ef59235d, 0 4px 6px -2px #ef592346;
}
span{
    color: var(--CorSecundaria);
}
.simbolo-back{
    z-index: -1;
    position: absolute;
    left: 63%;
    top: -18%;
    animation: girar 25s linear infinite;
}

/*ANIMAÇÕES HOME*/
.text-animado{
    color: var(--CorPrincipal);
}

.text-animado{
    position: relative;
}

.text-animado::before{
    content: "";
    animation: palavras 20s infinite;
}

.text-animado::after{
    content: "";
    position: absolute;
    height: 17px;
    border-left: 2px solid var(--CorPrincipal);
    right: -5px;
    opacity: 1;
    animation: cursor .8s infinite;
    animation: digita 20s steps(50) infinite;
    width: calc(100% + 10px);
    background-color: var(--Background);
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes digita{
    10%, 15%, 30%, 35%, 45%, 50%, 65%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%, 80%, 85%{
        width: calc(100% + 10px);
    }
}

@keyframes cursor{
    0%{
        border-left: 2px solid var(--Background);
    }
}

@keyframes palavras {
    0%,20%{
        content: "Seja digital com";
    }
    22%,40%{
        content: "Transforme-se com";
    }
    41%,60%{
        content: "Seja digital com";
    }
    61%,80%{
        content: "Transforme-se com";
    }
    81%,100%{
        content: "Seja digital com";
    }
}

/*SERVIÇOS*/
#servicos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;
}
#servicos h2{
    font-family: var(--FontSecundaria);
    font-size: 16px;
    margin-bottom: 15px;
}
#servicos h1{
    font-family: var(--FontPrincial);
    font-size: 44px;
    width: 650px;
    margin-bottom: 15px;
}
#servicos .container{
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    gap: 25px;
}
#servicos .card{
    background-color: white;
    width: 330px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.082);
    border: 1px solid rgba(128, 128, 128, 0.171);
    transition: .3s ease-in-out;
}
#servicos .card:hover{
    transform: translateY(-4px);
}
#servicos .card .text{
    text-align: left;
    padding: 0px 30px 0px 30px;
}
#servicos .card .text h3{
    font-family: var(--FontPrincial);
    margin-bottom: 12px;
}
#servicos .card .text p{
    font-family: var(--FontSecundaria);
}
